body{
    background-color: #555555;
    padding: 60px;
    padding-left: 100px;
    color: white;
}

p{
    font-size: 30px;
}

input{
    background-color: black;
    color: rgb(200, 255, 0);
    font-size: 40px;
    padding: 5px;
    border-radius: 4px;
    width: 100px;
   text-align: center;
}

.btn{
    margin-top: 10px;
    padding: 12px;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    font-size: 26px;
    background-color: #660000;
    cursor: pointer;
    transition:  1s;
    
}

.btn:hover{
    background-color: #ff0000;
    
}